<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../layout.css" />
    <link rel="stylesheet" href="detail.css" />
    <script src="https://kit.fontawesome.com/23a42e710b.js" crossorigin="anonymous"></script>
    <script src="detail.js" defer></script>
    <title>Wechoo</title>
  </head>
  <body>
    <div class="container"></div>
  </body>
</html>
